*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
.hero-section {
  background: url("images/andrew-kliatskyi-2bfHAKhGn4g-unsplash.jpg")
    center/cover no-repeat;
  height: clamp(450px, 100vh, 500px);
}
.logo,
.logo:visited {
  color: white;
}
.nav-links {
  background-color: #000000ba;
  height: 100vh;
  width: 80vw;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.3s ease;
  overflow-y: auto;
}
.nav-links.active {
  right: 0;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  align-items: center;
  gap: 20px;
}
.nav-links a {
  color: #ffffff;
  display: inline;
  font-size: 20px;
}
.hero {
  color: #ffffff;
}
.cta-btn {
  color: #ffffff;
  display: inline-block;
  border-radius: 50px;
  background-color: #000000;
  padding: 10px;
  margin-top: 20px;
}
.cta-btn:active {
  transform: scale(0.95);
}
.resume h2,
.project-section h2,
.about h2,
.contact h2 {
  margin: 0;
  border-bottom: 0.5px solid #000000;
}
.resume ul {
  list-style: none;
  padding: 0;
}
.resume-link {
  color: #000000;
  text-decoration: underline;
}
.project-link h3 {
  margin-bottom: 0;
  color: #000000;
}
.project-link h3 {
  margin-bottom: 0;
  color: #000000;
}
.project-link h3:hover {
  color: #0073ffb0;
}
.project-container {
  display: flex;
  gap: 20px;
}
.contact-svg {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  align-items: center;
}
footer {
  background-color: #000000;
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
  padding: 30px 0;
}
footer p {
  margin: 0;
  font-size: 14px;
}
@media (max-width: 479.9px) {
  .cta-btn,
  p {
    font-size: 0.9rem;
  }

  .header {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero h1 {
    padding-top: 70px;
    margin-top: 0;
    border-top: 0.5px solid #ffffff;
  }
  .ham-menu {
    height: 50px;
    width: 40px;
    position: relative;
  }
  .ham-menu span {
    height: 3px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    z-index: 1;
  }
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  .ham-menu.active span {
    background-color: #ffffff;
  }
  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .nav-links ul {
    display: grid;
    margin-top: 70px;
  }
  .hero {
    padding: 0 10px;
  }
  .resume-section,
  .project-section,
  .about-section,
  .contact-section {
    padding: 30px 10px 0;
  }
  .resume h2,
  .project-section h2,
  .about h2,
  .contact h2 {
    padding: 10px 0;
  }
  .resume ul {
    font-size: 0.9rem;
  }

  .experience,
  .education,
  .skills {
    margin-top: 35px;
    margin-bottom: 0;
  }
  .project-container {
    display: grid;
  }
  .project-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-top: 10px;
  }
  footer p {
    font-size: 12px;
  }
}

@media (min-width: 480px) and (max-width: 767.9px) {
  .cta-btn,
  p {
    font-size: 1rem;
  }

  .header {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero h1 {
    padding-top: 70px;
    margin-top: 0;
    border-top: 0.5px solid #ffffff;
  }
  .ham-menu {
    height: 50px;
    width: 40px;
    position: relative;
  }
  .ham-menu span {
    height: 3px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    z-index: 1;
  }
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  .ham-menu.active span {
    background-color: #ffffff;
  }
  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .nav-links ul {
    display: grid;
    margin-top: 70px;
  }
  .hero {
    padding: 0 10px;
  }
  .resume-section,
  .project-section,
  .about-section,
  .contact-section {
    padding: 30px 10px 0;
  }
  .resume h2,
  .project-section h2,
  .about h2,
  .contact h2 {
    padding: 10px 0;
  }
  .resume ul {
    font-size: 0.9rem;
  }

  .experience,
  .education,
  .skills {
    margin-top: 35px;
    margin-bottom: 0;
  }
  .project-container {
    overflow-y: scroll;
  }
  .project-img img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    padding-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
}

/* off-screen-menu */

/* ham menu */
